*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $text-color
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero-section {
    padding: $sp-five $padding-x;
    text-align: center;
    height: auto;

    .hero-heading {
        margin-bottom: $sp-three;
    }

    button {
        margin: $sp-four 0;
    }
}

.hero-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    height: calc(max(45%, 285px));
    max-width: 480px;
    margin: 0 auto;
}

.h-image {
    width: 100%;
    overflow: hidden;
}

.h-one,
.h-four {
    border-radius: 0 40px 0 40px;
}

.h-two,
.h-three {
    border-radius: 40px 0 40px 0;
}

.flipped-img {
    transform: rotateY(180deg);
}

.emph-highlight {
    text-decoration: underline;
    text-decoration-color: $main-color;
    text-decoration-thickness: 2px;
}

.dx-emphasis {
    color: $main-color;
}

section {
    text-align: left;
    padding: $sp-four $padding-x;
}

section#feature-points {
    text-align: center;
    background-color: $dx-grey;

    h2 {

        margin-bottom: $sp-three;
    }

    p.f-subheading,
    .f-container {
        margin: 0 auto;
    }

    p.f-subheading {
        letter-spacing: -0.7px;
        margin-bottom: $sp-four;
        max-width: 640px;
    }

    .f-container {
        display: grid;
        gap: 24px;
        max-width: 800px;
    }

    .f-points {

        padding: 1.5em 8px;
        border-radius: 4px;
    }


    div img {
        width: 108px;
        height: 108px;
        margin-bottom: 40px;
    }

    h5 {
        margin-bottom: 24px;
    }
}

.dropdown-tab {
    border-bottom: 1px solid $grey;
    position: relative;
    overflow-y: hidden;
}

section#solutions {
    background-image: linear-gradient(to bottom, #fff, rgba(250, 250, 250, .4));

    h2 {
        margin-bottom: $sp-three;
    }

    div.soln-header p {
        max-width: 630px;
    }

    .dx-package {
        margin-top: $sp-four;
        display: grid;

        p.pack-bio {
            margin: $sp-three 0;
        }

        ul {
            display: grid;
            row-gap: $sp-base;
        }

        ul li {
            display: flex;
            flex-direction: column;
            // height: 32px;
        }

        h4 {
            position: relative;
        }

        h4::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 3px;
            border-radius: 3px;
            background-color: $main-color;

            left: 0;
            top: 0;
            transform: translateY(-8px);
        }

        .tab-title {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        p.panel-name {
            width: calc(min(32ch, 90%));
        }

        div.panel-drop-content {
            display: none;
            margin-top: $sp-two;
        }
    }

    div.img-cont {
        position: relative;
        display: grid;
        max-width: 402px;

        &::before {
            content: '';
            position: absolute;
            width: 88%;
            height: 122%;
            background-color: $dx-grey;
            display: none;
            z-index: -99;
            place-self: center;
        }

    }

    div.awp .img-cont .pack-pic {
        height: auto;
    }

    .package-img {
        max-width: 100%;
        height: 268px;
        border-radius: 4px;
        margin-top: $sp-three;
        overflow: hidden;
    }

    p.price-tag {
        font-size: small;
        margin-top: $sp-two;
    }
}


section#faqs {

    div.illustration-cont {
        align-self: center;
        transform: translateY(50px);
        height: 230px;
        display: none;
        order: 2;
    }

    div.faq-cont {
        // width: min(100%, 508px);
    }

    ul {
        display: grid;
        row-gap: $sp-two;
        margin-top: $sp-three;
    }

    ul li.question {
        border-bottom: 1px solid $grey;

    }

    li.question::before {
        content: 'Q.';
        font-family: $heading-txt;
        font-weight: 700;
        width: auto;
        margin-bottom: $sp-two;
    }

    .answer {
        position: absolute;
        left: 0;
        transform: translateY($sp-three);
    }

}

section#anecdote {
    background-image: linear-gradient(45deg, #fff, $dx-grey);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    align-items: center;
    gap: $sp-three;

    img {
        height: 365px;
        max-width: 300px;
        object-fit: cover;
        border-radius: 4px;
        // margin: 0 0 $sp-three;
    }

    p {
        margin: $sp-three 0 $sp-four;
    }
}

section#banner-cta {
    background-image: linear-gradient(-35deg, $hover-color, $main-color);
    margin: $sp-four $padding-x;
    border-radius: 6px;
    color: #fff;
    text-align: center;

    div.banner-cta {
        max-width: 720px;
        margin: auto;
    }

    h3 {
        color: #fff;
    }

    p {
        margin: $sp-three 0 $sp-four;
    }
}

section#footer {
    background: $dx-grey;

    h6 {
        font-size: 18px;
        font-family: $heading-txt;
        margin-bottom: $sp-three;
    }

    div.footer-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    div.footer-grid>div {
        max-width: 275px;
    }

    div.contact-dets,
    p.footnote {
        margin-bottom: $sp-three;
    }

    p.address {
        margin-bottom: $sp-three;
    }

    div.tel-no {
        display: flex;
        gap: $sp-one;
        position: relative;
    }

    div.tel-no::before {
        content: url(images/bi_telephone.svg);
        display: inline-block;
        height: 32px;
        width: 32px;
    }

    .tel-no div {
        display: flex;
        flex-direction: column;
        gap: $sp-one;
    }

    a img.sm-icon {
        width: 50px;
        height: 50px;
    }
}

div.copyright-txt {
    padding: $sp-one $padding-x;
}