*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $text-color;
    overflow-x: hidden;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero-section {
    padding: $sp-five $padding-x;
    text-align: center;
    height: auto;

    .hero-heading {
        margin-bottom: $sp-three;
    }

    a.cta-btn {
        margin: $sp-four 0;
    }
}

.hero-copy {
    transform: translateX(100px);
}

.hero-copy,
.hero-images {
    opacity: 0;
    transition: opacity 250ms ease, transform 1s ease;
}

.ease {
    position: relative;
    display: inline-grid;
    place-items: center;
}

.swirly-emph {
    position: absolute;
    display: grid;
    width: 120%;
    max-width: fit-content;
    z-index: -10;
}

.hero-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    height: calc(max(45%, 285px));
    max-width: 480px;
    margin: 0 auto;
    transform: translateX(-100px);
}

.slide.load {
    opacity: 1;
    transform: translateX(0);
}

.h-image {
    width: 100%;
    overflow: hidden;
}

.h-one,
.h-four {
    border-radius: 0 40px 0 40px;
}

.h-two,
.h-three {
    border-radius: 40px 0 40px 0;
}

.flipped-img {
    transform: rotateY(180deg);
}


.emph-highlight {
    text-decoration: underline;
    text-decoration-color: $main-color;
    text-decoration-thickness: 3.2px;

}

.dx-emphasis {
    color: $main-color;
}

section {
    text-align: left;
    padding: $sp-four $padding-x;
}

.opacity-fade {
    opacity: 0;
    transform: translateY(20px);
    transition: transform 800ms ease;
}

.opacity-fade.load {
    opacity: 1;
    transform: translateY(0);
}

section#feature-points {
    text-align: center;
    background-color: $dx-grey;

    h2 {

        margin-bottom: $sp-three;
    }

    p.f-subheading,
    .f-container {
        margin: 0 auto;
    }

    p.f-subheading {
        margin-bottom: $sp-four;
        max-width: 640px;
    }

    .f-container {
        display: grid;
        gap: 24px;
        max-width: 800px;
    }

    .f-points {
        padding: 1.5em 8px;
        border-radius: 4px;
    }

    .f-points.f-left {
        transform: translateX(-50px);
    }

    .f-points.f-right {
        transform: translateX(50px);
    }

    .f-points.f-indent {
        transform: translateY(50px);
    }

    .f-left,
    .f-right,
    .f-indent {
        transition: transform 1s ease;
    }

    .f-left.focused,
    .f-right.focused,
    .f-indent.focused {
        transform: translate(0);
    }



    div img {
        width: 108px;
        height: 108px;
        margin-bottom: 40px;
    }

    h5 {
        margin-bottom: 24px;
    }
}

.dropdown-tab {
    border-bottom: 1px solid $grey;
    position: relative;
}

.panel-drop-content {
    max-height: 0;
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.panel-drop-content p {
    font-family: $body-txt;
    font-size: 13px;
    padding-top: $sp-one;
    color: $main-color;
}

.tab-title.active svg#dropdown-btn {
    transform: rotate(180deg);
}

.show {
    animation: fade 0.5s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

section#solutions {
    overflow-x: hidden;

    h2 {
        margin-bottom: $sp-two;
    }

    div.soln-header p {
        max-width: 630px;
    }

    .dx-package {
        margin-top: $sp-five;
        display: grid;
        max-width: 900px;


        p.pack-bio {
            margin: 17px 0;
        }

        ul {
            display: grid;
            row-gap: $sp-base;
        }

        ul li {
            display: flex;
            flex-direction: column;
        }

        h4 {
            position: relative;
            transform: translateX(-50px);
            transition: transform 1s ease;
        }

        h4::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 3px;
            border-radius: 3px;
            background-color: $main-color;

            left: 0;
            top: 0;
            transform: translateY(-8px);
        }

        .tab-title {
            width: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        #dropdown-btn {
            transition: 250ms ease-in;
        }

        p.panel-name {
            width: calc(min(32ch, 90%));

        }

    }

    div.img-cont {
        position: relative;
        display: grid;
        max-width: 402px;
    }


    div.img-cont,
    div.package-content {
        transition: transform 700ms ease;
    }

    .trans-pos {
        transform: translateX(50px);
    }

    .trans-neg {
        transform: translateX(-50px);
    }

    .trans-neg,
    .trans-pos {
        opacity: 0;
    }

    .paslide.focused {
        transform: translateX(0);
        opacity: 1;
    }

    .package-img {
        max-width: 100%;
        height: 268px;
        border-radius: 4px;
        margin-top: $sp-three;
        overflow: hidden;


        &::before {
            content: '';
            position: absolute;
            width: 80%;
            height: 100%;
            background-color: $dx-grey;
            transform: rotate(15deg);
            transform-origin: center;
            display: none;
            z-index: -99;
            justify-self: center;
        }
    }

    p.price-tag {
        font-size: small;
        margin-top: $sp-two;
    }

    div.awp .img-cont .pack-pic {
        height: auto;
    }
}



section#faqs {

    div.illustration-cont {
        align-self: center;
        transform: translateY(50px);
        height: 230px;
        display: none;
        order: 2;
    }

    ul {
        display: grid;
        row-gap: $sp-two;
        margin-top: $sp-three;
    }

    ul li.question {
        border-bottom: 1px solid $grey;
        position: relative;

    }

    .q-title {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    li .q-title p:nth-child(1) {
        font-family: $heading-txt;
        font-weight: 700;
        width: auto;
        margin-right: $sp-two;
    }

    .q-title p {
        display: inline-block;
    }

    .answer {
        display: grid;
        row-gap: $sp-one;
        padding-top: $sp-one;

    }

}

section#anecdote {
    background-image: linear-gradient(45deg, #fff, $dx-grey);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 450px));
    align-items: center;
    gap: $sp-three;

    img {
        height: 365px;
        max-width: 300px;
        object-fit: cover;
        border-radius: 4px;
    }

    p {
        margin: $sp-three 0 $sp-four;
    }
}

section#banner-cta {
    background-image: linear-gradient(-35deg, $hover-color, $main-color);
    margin: $sp-four $padding-x;
    border-radius: 6px;
    color: #fff;
    text-align: center;

    div.banner-cta {
        max-width: 720px;
        margin: auto;
    }

    h3 {
        color: #fff;
    }

    p {
        margin: $sp-three 0 $sp-four;
    }
}

section#footer {
    background: $dx-grey;

    h6 {
        font-size: 18px;
        font-family: $heading-txt;
        margin-bottom: $sp-three;
    }

    div.footer-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    div.footer-grid>div {
        max-width: 275px;
    }

    div.contact-dets,
    p.footnote {
        margin-bottom: $sp-three;
    }

    p.address {
        margin-bottom: $sp-three;
    }

    div.tel-no {
        display: flex;
        gap: $sp-one;
        position: relative;
    }

    .tel-no div {
        display: flex;
        flex-direction: column;
        gap: $sp-one;
    }

    div.sm-icons {
        display: flex;
        gap: $sp-three;
    }

    a img.sm-icon {
        width: 40px;
        height: 40px;
    }
}

div.copyright-txt {
    padding: $sp-one $padding-x;
}