p {
    font-family: $body-txt;
    font-size: 1em;
    line-height: 24px;
}

a {
    font-family: $body-txt;
}

h1,
h2,
h3,
h4,
h5 {
    color: $black;
    font-family: $heading-txt;
    font-weight: 700;
}

h1.hero-heading {
    font-size: calc(clamp(1.5em, 1.0em + 2vw, 2.75em));
}

h2 {
    font-size: calc(clamp(1.25em, 1.0em + 1vw, 2.25em));
}

h3 {
    line-height: 1.75;
}