$main-color: rgba(0, 68, 210, 1);
$hover-color: rgba(18, 34, 67, 1);
$dx-grey: rgba(250, 250, 250, 1);
$text-color: rgba(81, 81, 81, 1);
$black: rgba(38, 50, 56, 1);

$body-txt: "Montserrat", sans-serif;
$heading-txt: "Syne";


$sp-base: 8px;
$sp-one: 13.2px;
$sp-two: 22px;
$sp-three: 36px;
$sp-four: 60px;
$sp-five: 98px;