.cta-btn {
    padding: $sp-one 46px;
    background-color: $main-color;
    border: none;
    border-radius: 4px;
    transition: 200ms ease-out;
    font-family: $body-txt;
    color: #fff;
}

.cta-btn:hover {
    background-color: $hover-color;
}

.alt-btn {
    font-family: $body-txt;
    font-weight: bold;
    color: $main-color;
    background-color: #fff;
    padding: $sp-one 46px;
    border: 1px solid $main-color;
    border-radius: 4px;
    transition: 200ms ease-out;
    white-space: nowrap;
}

.alt-btn:hover {
    background-color: $hover-color;
    color: #fff;
}

.txt-btn {
    display: flex;
    gap: $sp-one;
    color: $hover-color;
    font-weight: bold;
    font-size: 14px;
    margin-top: $sp-three;

    a {
        &:hover {
            color: $main-color;
            cursor: pointer;
        }

        &:visited {
            color: $hover-color;
        }
    }

}