.header-one {
    height: 80px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 $padding-x;
    overflow-y: hidden;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.ham-menu {
    display: none;
}

nav {

    background-color: #fff;
    display: flex;

    ul {
        display: flex;
        gap: $sp-three;
        margin-right: $sp-three;

        a {
            color: $text-color;
        }
    }

    a.contact-btn {
        font-weight: bold;

        &:hover {
            color: $hover-color;
        }
    }
}

@media screen and (max-width: 700px) {
    .ham-menu {
        display: block;
    }

    nav {
        padding: $sp-four $padding-x;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;

        ul {
            flex-direction: column;
            margin-bottom: $sp-three;
        }
    }
}