.header-one {
    height: 80px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 $padding-x;
    // overflow-y: hidden;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    z-index: 50;
}

.ham-menu {
    display: none;
}

nav {

    background-color: #fff;
    display: flex;

    ul {
        display: flex;
        gap: $sp-three;
        margin-right: $sp-five;

        a {
            color: $text-color;
        }
    }

    a.contact-btn {
        font-weight: bold;

        &:visited {
            color: $main-color;
        }
    }

    ul li,
    a.contact-btn {
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $main-color;
            border-radius: 50%;
            bottom: 0;
            transform: translate(-100%);
            transition: 300ms ease-in;


        }

        &:hover::before {
            transform: translate(0);
        }
    }
}

@media screen and (max-width: 700px) {
    .ham-menu {
        display: block;
    }

    nav {
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
        padding: $sp-four $padding-x;
        max-height: 0;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;


        ul {
            flex-direction: column;
            margin-bottom: $sp-three;
            margin-right: 0;
        }
    }
}

header.nav-active nav {
    max-height: 100vh;
    opacity: 1;

}

.collapse {
    animation: collapse .3s ease-out forwards;
}

.open {
    animation: open .2s ease-in forwards;
}

@keyframes collapse {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-120%);
    }
}

@keyframes open {
    from {
        opacity: 0;
        transform: translateY(-120%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}