#hero-section {
    padding: $sp-five $padding-x;
    text-align: center;
    height: auto;

    .hero-heading {
        margin-bottom: $sp-three;
    }

    button {
        margin: $sp-four 0;
    }
}

.hero-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    height: calc(min(285px, 100%));
}