@media screen and (min-width: 700px) {
    section#feature-points {
        .f-container {
            display: flex;
            justify-content: space-between;
        }

        .f-indent {
            position: relative;
            top: $sp-two;
        }

        p.f-subheading {
            letter-spacing: 0px;
        }
    }
}

@media screen and (min-width: 980px) {
    section {
        padding: 60px calc(min(12vw, 200px));
    }

    section#hero-section {
        display: grid;
        grid-template-columns: repeat(2, minmax(380px, 1fr));
        gap: 5%;
    }

    .hero-heading {
        margin-top: -0.2em;
    }

    .hero-copy {
        text-align: left;
    }

    div.hero-images {
        height: 315px;
        max-width: 380px;
        position: relative;
        margin: 0 25px 0 0;
        justify-self: end;
    }

    .hero-images .h-two {
        width: 113%;
        height: 202px;
        margin-top: -52px;
        margin-right: -24px;
    }

    section#solutions {
        div.soln-header {
            text-align: center;
        }

        div.soln-header p {
            margin: auto;
        }

        div.dx-package {
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                'img title'
                'img contenty';
        }

        div.dx-package h4 {
            grid-area: title;
            // max-width: 450px;
        }

        div.package-content {
            grid-area: contenty;
            // max-width: 450px;
        }

        div.img-cont {
            grid-area: img;
            align-self: start;

            &::before {
                display: block;
            }
        }

        div.package-img {
            width: min(100%, 304px);
            margin: 0;
        }

        div.awp {
            grid-template-areas:
                'title img'
                'contenty img';
        }

        div.awp .img-cont,
        div.awp .package-img {
            justify-self: end;
        }
    }

    section#faqs {
        display: flex;
        justify-content: space-between;
        gap: 2%;

        div.faq-cont {
            flex-direction: row;
        }

        div.illustration-cont {
            display: block;
        }

        .answer {
            max-width: 62ch;
            padding-left: 40px;
        }
    }

    section#footer {

        div.footer-last {
            justify-self: end;
        }
    }
}

div.copyright-txt {
    text-align: center;
}